header {
    background-image: url(../../../../assets/images/foster-cats-header.jpg);
    background-size: cover;
    h1 {
        color: #4592AF !important;
    }
    color: #332C39 !important;
    text-shadow: 0 0 2px #FFF, 0 0 5px #FFF, 0 0 5px #C92C6D, 
    0 0 10px #C92C6D, 0 0 15px #c92c6d, 0 0 20px #C92C6D;
}

