#hero {
    background-image: url("https://images.unsplash.com/photo-1535476593072-5a085be9f713?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   

    width: 100%;
    height: 50vh;
    
    color: #4592AF;

}

#searchBar{
    background-color: #C92C6D;

    label {
        color: #332C39;
        font-weight:600;
    }

    button {
        background-color: #332c39;
        color: #F0EEED;
        &:hover {
            color: #C92C6D;
        }
    }
}

.custom-link {
    cursor: pointer;
    color: #E3C4A8;
    &:hover {
        color: #C92C6D;
    }
}