<section id="joinUs">
    <div class="container-md p-3">
        <h1 class="text-center py-2">Join the movement</h1>
        <div class="shadow-lg py-3 px-5">
            <h4 class="m-2 text-center">Get the latest cat news, information, and ways to take action and save cats'
                lives!</h4>
            <p>Cat ipsum dolor sit amet, i saw that bird i need to bring it home to mommy squirrel! ooooh feather
                moving feather! ignore the squirrels, you'll never catch them anyway. Please let me outside pouty
                face yay! wait, it's cold out please let me inside pouty face oh, thank you rub against mommy's leg
                oh it looks so nice out, please let me outside again the neighbor cat was mean to me please let me
                back inside experiences short bursts of poo-phoria after going to the loo so stare at ceiling light.
            </p>
            <div class="d-flex flex-column flex-md-row justify-content-evenly">
                <button class="btn btn-dark my-2" (click)="goToLogin()">Login for members</button>
                <button class="btn btn-dark my-2" (click)="goToRegistration()">Registrate</button>
            </div>
        </div>
    </div>
</section>
