<section class="p-5 pt-4">
        
    <div class="card border rounded shadow m-3 p-3 table-responsive-md">
        <table *ngIf="membersArray.length > 0" class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of membersArray; let i=index" [ngClass]="{'table-danger': member.role==='ADMIN'}">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ member.name }}</td>
                <td>{{ member.role }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.phoneNumber }}</td>
                <td>{{ member.address }}</td>
                           
                <td class="d-flex flex-row">
                    <button class="btn btn-dark m-3" (click)="editMember(member._id!)" id="updateBtn">Edit</button>
                    <button class="btn btn-outline-dark m-3" (click)="deleteMember(member._id!)" id="deleteBtn">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>

  </section>

