<main>
    <app-hero backgroundUrl="https://images.unsplash.com/photo-1561147390-58a2d3cbff03?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80" titleText="Follow our mission."></app-hero>
    
    <section id="about">
        <div class="container pt-3">
            <div>
                <h1 class="pb-3 border-bottom border-dark text-center">Our history</h1>
            </div>

            <div class="row py-3">
                <div class="col-md-3 col-lg-4 d-flex align-items-center">
                    <img class="img-fluid" src="../../../../assets/images/kcm_logo_thumbnail.png" alt="kittysaver logo">
                </div>

                <div class="col-md-9 col-lg-8">
                    <h2 class="py-3">Who we are?</h2>
                    <p>Kittysaver is the global engine of change for cats. For more than 30 years, we've inspired
                        individuals and communities to work to change laws, improve shelters, and most importantly save
                        cats.</p>
                    <p>More than half thousand supporters help us in the movement to protect cats' lives. We advance
                        progressive policies for cats in communities all over Belgium and across the globe and work
                        toward a world that values the lives of all animals.</p>
                    <p>From our headquarters our staff serve as the voice for cats and the millions of people who value
                        them.</p>
                </div>

            </div>
            <div class="row py-3" id="history">
                <div class="col-md-8">
                    <h2 class="py-3">Take a Walk Through Our History</h2>
                    <p>In this age of viral cat videos and kitten memes for every occasion, it's no surprise that cats
                        have
                        a saint of their own. The patron saint of cats is a woman named Gertrude of Nivelles. She
                        appears as
                        a youthful, haloed nun cradling a cat in her arms like a baby.</p>
                    <p>There's no official documentation or old tradition naming St. Gertrude of Nivelles as the patron
                        saint of cats. Considering the Church's checkered history of its treatment of cats, cats have
                        long
                        deserved and needed a patron saint of their own. </p>
                    <p>Cats were ideal and valued companions for monks and nuns in the Middle Ages. St. Gertrude of
                        Nivelles
                        is a good fitting human counterpart to the domestic cat, a creature known for being resolutely
                        independent, and prone to mysterious habits that never make sense to its human owner, who loves
                        and
                        accepts cats as they are anyway.</p>
                    <p>The old abbey church, which became the Collegiate Church of Saint Gertrude under the canonesses,
                        continues this modern tradition and has managed to become the headquarters of KittySaver. Today
                        the
                        basement of the old abbey holds a number of artifacts and the offices of our community.</p>
                </div>
                <div class="col-md-4 d-flex align-items-center">
                    <img class="img-fluid"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/0_Nivelles_-_coll%C3%A9giale_Ste-Gertrude.JPG/675px-0_Nivelles_-_coll%C3%A9giale_Ste-Gertrude.JPG"
                        alt="photo of monastery">
                </div>
            </div>

            <div class="row d-flex flex-row-reverse py-3 px-0">
                <div class="col-lg-8 d-flex flex-column justify-content-center">

                    <h2 class="py-3">How we help?</h2>
                    <p>Every day, our team works to save the lives of kittens and cats by providing spay/neuter,
                        trap/neuter/return (TNR), adoptions, wellness care, medical care, and community shelter
                        support. Our
                        staff and board are committed to working every day to protect and improve the lives of cats
                        everywhere.
                    </p>
                    <app-join-us></app-join-us>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center mt-3">
                    <img class="img-fluid"
                        src="https://images.unsplash.com/photo-1573865526739-10659fec78a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80"
                        alt="cute cat">
                </div>
            </div>
            
        </div>

    </section>

    <app-partner-list></app-partner-list>
    
</main>