<main>
    <app-hero backgroundUrl="https://images.unsplash.com/photo-1515002246390-7bf7e8f87b54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" titleText="404 - page not found"></app-hero>
    
    <section>
        <div class="container p-5">
            <h1>404 - page not found</h1>
            <p class="lead">Sorry, the page you are looking for does not exist </p>
            <a class="fs-bold text-decoration-none text-uppercase custom-link" (click)="navigateHome()">Back to home</a>
        </div>

    </section>
</main>
